@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Cutive&family=Exo:wght@300;400;500;600;700&family=Fjalla+One&family=Gurajada&family=Sofia+Sans+Extra+Condensed:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/*   DIVS
**
**   DISPLAY   */
.main,
.top,
.header,
.landing,
.landing-content,
.profile-pic,
.pitch,
.about,
.projects,
.bottom,
.contact,
.footer,
.up,
.down {
  display: flex;
}

/*   DIV FLEX-DIRECTION   */
.main,
.top,
.landing,
.profile-pic,
.pitch,
.about,
.contact,
.projects,
.bottom {
  flex-direction: column;
}

.header,
.landing-content,
.footer,
.up,
.down {
  flex-direction: row;
}

/*   DIV WIDTH & HEIGHT   */
.top,
.header,
.landing,
.landing-content,
.about,
.projects,
.bottom,
.contact,
.footer,
.up,
.down {
  width: 100%;
}

.header {
  height: 80px;
}

.top,
.about,
.projects,
.bottom {
  height: 100vh;
}

.landing {
  height: 100%;
}

.landing-content {
  height: calc(100vh - ((100vh - 100%)));
}

.down,
.up {
  height: 40px;
}

.contact {
  height: 100%;
}

.footer {
  height: 60px;
}

/*   DIV BACKGROUND   */
.header {
  background-color: rgb(86, 132, 231);
}

.pitch,
.about,
.projects,
.contact {
  background-color: ghostwhite;
}

.footer {
  background-color: #0f2246;
}

/*   DIV BORDERS   */
.header {
  border-bottom: 1px solid black;
}

.footer {
  border-top: 1px solid black;
}

/*   DIV PLACEMENTS   */

.landing-content {
  justify-content: space-evenly;
  align-items: center;
}
.profile-pic {
  justify-content: center;
  align-items: center;
}

.pitch {
  justify-content: center;
  align-items: center;
}

.pitch-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pitch-para {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.h1-pitch {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  font-family: "Fjalla One", Arial, Helvetica, sans-serif;
  color: #0f2246;
}

.h2-pitch {
  margin: 0 0 1rem 0;
  padding: 0;
  font-size: 1.75rem;
  font-family: Cabin, Georgia, Times, "Times New Roman", serif;
  color: rgb(86, 132, 231);
}
.p-pitch {
  margin: 0;
  padding: 0.25rem 0;
  line-height: 1.25rem;
  font-size: 1rem;
  font-family: Cabin, Georgia, Times, "Times New Roman", serif;
}

.exp-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

.exp {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 55%;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55%;
  width: 100%;
}

.experience h1,
.experience p {
  margin: 10px 0;
  padding: 0;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 30%;
  width: 70%;
}

.skills-img {
  width: 50px;
  margin: 0 5px;
}

.cv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
}

.cv a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1-cv {
  font-size: 2.5rem;
  font-family: "Fjalla One", sans;
  color: #0f2246;
}

.pdf-img {
  width: 65%;
  border: 2px solid black;
  border-radius: 5%;
}

.pdf-img:hover {
  background-blend-mode: darken;
  background-color: black;
  opacity: 50%;
}

.projects-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.projects-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75%;
  width: 85%;
}

.projectIemContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 30%;
}

.projectItem-imgLink {
  height: 75%;
  border: 2px solid rebeccapurple;
}

.projectItemImg {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 5%;
  opacity: 60%;
}

.projectItemImg:hover {
  opacity: 100%;
}

.h2-projectItem {
  font-size: 1.5rem;
  font-family: "Fjalla One";
  color: #0f2246;
  margin: 0;
  padding: 0;
}

.projectItem-title {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
}

.projectItemGithub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.projectItemGitImg {
  border: 1px solid black;
  height: 70%;
}

.projects-seeMoreBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid orchid;
  height: 10%;
  width: 85%;
}

.footer {
  justify-content: center;
  align-items: center;
}

/* 
**   HEADER 
*/

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 13%;
}

.logo img {
  max-height: 79px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.socmed-btns {
  width: 27%;
}

.nav-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  font-family: Cutive, "Courier New", Courier, monospace;
  font-size: 1.75rem;
}

.nav-btns a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.nav-btns a:hover {
  text-decoration: underline;
  color: rgb(86, 132, 231);
  background-color: white;
  border-radius: 5%;
}

.socmed-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.socmed-img {
  max-height: 50px;
  border: 2px solid black;
  border-radius: 15%;
}

.socmed-img:hover {
  opacity: 50%;
}

/* 
**   SECTION CONTENT
*/

/*   PICTURE & PITCH   */
.profile-pic,
.pitch {
  height: 80%;
  width: 42.5%;
}

.profile-pic img {
  width: 100%;
  border: 2px solid black;
  border-radius: 5%;
}

/* 
**   ----- REST -----
*/
.contact-content {
  width: 100%;
  height: 82vh;
}

/*   
**   TYPOGRAPHY   
*/

.footer {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}

/*
**   SCROLL BUTTONS
*/

.up,
.down {
  justify-content: center;
  align-items: center;
}

.up-btn,
.down-btn,
.up-btn-top,
.down-btn-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100%;
  background-color: black;
  color: white;
  border: 2px solid black;
}

.up-btn,
.down-btn {
  width: 5%;
}

.up-btn-top,
.down-btn-bottom {
  width: 10%;
}

.up-btn:hover,
.down-btn:hover,
.up-btn-top:hover,
.down-btn-bottom:hover {
  cursor: pointer;
  background-color: rgb(86, 132, 231);
}
